.main-sidebar .sidebar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-sidebar .sidebar .nav-sidebar {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 56px);
}

.main-sidebar .sidebar .nav-sidebar > .nav-item:last-child {
    margin-top: auto !important;
    padding-bottom: 8px;
}
